body {background: Gainsboro;
	  color: black;
	  font-size: 14pt; }
	  
body { font-family: 'Bitter', serif; }

h1 { font-size: 250%;
     font-weight: bold;
     color: black }




nav li { display: inline-block }

nav li{ border: 3px solid royalblue }

nav li { padding: 7px;
         margin: 30px; }

nav li a:hover { color: pink }

.dog {float: right; }
.dog {margin: 100px; }

.ocean {margin: 50px; }

body {text-align: center; }
 
p {text-align: left; }

h1 {text-align: left; }